<h2><%= @user.name %></h2>
    <%= link_to 'All Users', users_path%>

    <ul>
      <li>Name: <%= @user.name %></li>
      <li>Email:<%= @user.email %> </li>
    </ul>



    <div class="controls">
      <%= link_to 'edit user', edit_user_path(@user.id) %>
      <%= button_to 'delete user', user_path(@user.id), :method =>'delete' %>
    </div>
