<h2><%= @review.comment %></h2>
    <%= link_to 'All Reviews', attraction_reviews_path%>

    <ul>
      <li>Comment: <%= @review.comment %></li>

    </ul>

    <div class="controls">
      <%= link_to 'edit review', edit_attraction_review_path(@review.id) %>
      <%= button_to 'delete review', attraction_review_path(@review.id), :method =>'delete' %>
    </div>
