<h1> <%= @place.name %></h1>

<% @attractions.each do |attraction| %>
    <p>
      <h2> <%= attraction.name %> </h2>
      <h3> Activity: <%= attraction.category %></h3>
      <%= image_tag (attraction.image), :class => 'thumbnail' %>
      <hr/>
    </p>
<% end %>


<div id="attraction-data">

</div>

<img id="icon-image" />

<div class="form-details">
      <button onclick="$('#reviews').slideToggle()">Show reviews</button>
      <div id="reviews" style="display:none">
        <% if @current_user.present? %>
        <%= form_for Review.new do |f| %>


        <%= hidden_field_tag :attraction_id, @attraction_id %>
        <%= f.submit %>
        <% end %>
      <% end %>
