<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

<div class="wrap">
  <div class="sticker"></div>
  <div class="msg"><h1> <%= @place.name %></h1></div>
</div>


<% @attractions.each do |attraction| %>
    <p>
      <h3> <%= attraction.name %> </h3>
      <h5> Activity: <%= attraction.category %></h5>
      <%= image_tag attraction.image, :class => 'thumb' %>
      <%= link_to('Visit Website', attraction.booking_link) %>
      <h1> debug </h1>

      <hr/>
    </p>

<% end %>


 <div id="attraction-data">

</div>

<img id="icon-image" />
